#root .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

#root .container .items {
    width: 100px;
}

/* .navbar #home input,
.navbar #home button{
    display: none;
} */


.item_card {
    height: 500px;
    box-shadow:  5px 5px 9px #c5c5c5,
    -5px -5px 9px #fbfbfb;
}

.card-img-top {
    height: 290px;
    transform: translate();
}

.card_buttons {
    
    position: absolute;
    bottom: 10px;
}


.cart_item {

    /* background-color: rgb(207, 207, 207); */
    background-color: rgb(241, 231, 231);
    margin-top: 20px;
}

.cart_item img {

    width: 150px;
    height: 150px;
    margin-left: 100px;
}

.cart_item .price_rating {

    /* margin-left: 20px; */
}